# Core ML + Data
numpy
pandas
scikit-learn
joblib
dill
pyyaml

# Flask Web App
Flask
gunicorn

# Mongo (needed because your main_utils loads from DB sometimes)
pymongo
certifi
pymongo[srv]==3.11

# Feature extraction dependencies
requests
beautifulsoup4
python-whois

# Additional utilities used in your project
python-dotenv
